*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
}
.nav{
    display: flex;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    height: 56px;
    justify-content: space-between;
    align-items: center;
}
.nav li{
    display:inline;
}
.nav a{
    padding:10px;
    text-decoration: none;
    color: #191919;
    font-weight: 900;
    font-size: 1vw;
}
/* Section Overlays */
.section-overlay {
    background-color: lightgrey;
    position: relative;
  }
  
  .section-overlay-image {
      object-fit: cover;
    width: 100%;
    height: 82vh;
  }
  
  .section-overlay-ui {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    margin-top: auto;
  }
  
  .section-overlay-text {
    text-align: center;
    font-weight:900;
    font-size: 4.7vw;
    color: #ffffff;
  }
.inf{
    background-color: #FFFFFF;
    display: flex;
    width: 100%;
    height: 62vh;
    justify-content: center;
}
.inf-text {
    text-align: center;
    margin-top: 6vh;
    margin-left: 3vw;
    margin-right: 3vw;
    color: #1a1818;
}
.inf-text > p{
    font-size: 1.1vw;
    font-weight:600;
}
.info1{
    height: 77vh;
    width: 100%;
    border-bottom: 0.1px solid rgb(201, 199, 199);
}
.info2{
    height: 70vh;
    width: 100%;
    border-bottom: 0.1px solid rgb(201, 199, 199);
}
.info3{
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    justify-content: center;
}
.info4{
    width: 100%;
    height: 70vh;
    justify-content: center;
    background-color: #618788;
}
.info4-text{
    margin-top: 100px;
    color: white;
    text-align: center;
    height: 300px;
}
.info5{
    width: 100%;
    justify-content: center;
    height: 65vh;
}
.info5-text{
    margin-top: 100px;
    text-align: center;
    height: 300px;
}
.info5-text hr{
    width: 74%;
    margin: 0 12.8%;
    color:#fffbfb;
    height: 1px;
}
.download{
    background-color: #030303;
    color: white;
    height: 38vh;
    border-bottom: 0.1px solid rgb(59, 59, 59);
    justify-content: center;
    text-align: center;
}
.store{
    display: flex;
    justify-content: center;
}
.store img{
    height: 45px;
    width: 135px;
    margin: 0 2px;
    border: 1px solid rgb(78, 76, 76);
}
.media{
    background-color: #030303;
    height: 52vh;
    justify-content: center;
    text-align: center;
    color: rgb(207, 202, 202);
}
.media p{
    margin: 0 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.85vw;
    font-weight: 700;
}